 This is some default styling for the exercise */
*, *::after, *::before {
  box-sizing: border-box;
}

[class^='grid-col-'] {
	float:left;
  padding: 0;
}

/*.grid {
  text-align: center;
}*/

.grid:after {
  content: "";
  display: block;
  clear: both;
}

/*used code from summer '16 cirriculum because i could not find it in our semester https://iat339.andrewh.ca/2016/summer/*/


.grid-col-1of5 {
	width: 20%;
}

.grid-col-1of4 {
    width: 25%;

}

.grid-col-1of1 {
  width:100%;
  position:fixed;
  bottom: 0px;
  left:0px;
}

.grid-col-1of3 {
  width: 33%;
  padding-bottom: 5em;
  min-height: 320px;
}

.grid-col-1of3vote {
  width: 33%;
  padding-bottom: 2em;
}

.grid-col-1of6 {
  width: 16%;
}

.grid-col-1of2 {
  width: 50%;
}

.grid-col-1of2submit {
  width: 50%;
}

.grid-col-3of4 {
  width:75%;
  /*padding-left:10rem;*/
}

.grid-col-1of8 {
  width:12.5%;
}

.grid-col-2of3 {
  width:66%;
}

.grid-col-2of3vote {
  width:66%;
}

}
@media (max-height: 800px) {
  .navigation-bottom-cart {
    position: fixed;
    top: 580px;
  }

  .navigation-bottom-account {
    position: fixed;
    top: 532px;
  }

}
@media (min-height: 800px) {
  .navigation-bottom-cart {
    position:fixed;
    bottom: 10em;
    text-align: center;
    /*width: 25%;*/
    /*text-align: center;*/
  }

  .navigation-bottom-account {
    position: fixed;
    bottom: 13em;
    text-align: center;
    /*width: 25%;*/
    /*text-align: center;*/
  }
}

@media (min-width: 50em) {
  .navigation {
    position: fixed;
  }

  .navigation-bottom-cart {
    position:fixed;
    bottom: 10em;
    width: 25%;
    text-align: center;
  }

  .navigation-bottom-account {
    position:fixed;
    bottom: 13em;
    width: 25%;
    text-align: center;
  }

  .main {
      margin-left: 25%;
  }

  .captiontext {
    padding-left: 10em;
    padding-right: 10em;
  }

  .infoleft {
    text-align: right;
    /*padding-right: .5em;*/
  }
  .inforight {
    text-align: left;
    /*padding-right: .5em;*/
  }

  .ranking {
    text-align: left;
    padding-left: 2em;
  }

  .contactpad {
    padding: .3em;
  }

  /*.grid-col-2of3vote {

    padding-bottom: 2em;
    text-align: left;
  }*/
}

@media (max-width: 50em) {

  /*http://pxtoem.com/*/

  .grid-col-1of4, .grid-col-1of3, .grid-col-1of3vote, .grid-col-2of3, .grid-col-2of3vote, .grid-col-1of2, .grid-col-3of4,.grid-col-1of8, .grid-col-1of5, .grid-col-3of4, .grid-col-1of6 {
    width: 100%;
  }

  .navigation-bottom-account, .navigation-bottom-cart {
    width: 83%;
    text-align: left;
  }

  .navigation-bottom-account {
    bottom:5.2em;
  }

  .navigation-bottom-cart {
    bottom:2.2em;
  }

  .main {
    margin-top: 7em;
    margin-left: 0%;

  }

  .navigation{
    /*display:flex;*/
  }

  .infoleft {
    text-align: left;
    /*padding-right: 1em;*/
  }
  .inforight {
    text-align: right;
    /*padding-right: 1em;*/
  }

  .ranking {
    text-align: center;
    padding-top:3em;
  }

}

.box {
  height: 120px;
}

.main-nav {
  height:50px;
}


.screen {
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

.colors-black {
  background-color: black;
  border: 2px solid #000000;
  height: 120px;
  color: white;
}

.colors-white {
  background-color: white;
  border: 2px solid #000000;
  height: 120px;
  color: black;
}

.colors-blue {
  background-color: #00caf5;
  border: 2px solid #00caf5;
  height: 120px;
  color: white;
}

.colors-yellow {
  background-color: #FFEF49;
  border: 2px solid #FFEF49;
  height: 120px;
  color: black;
}



.navigation {
  /*display: inline-block;*/
  /*position:fixed;*/

  /*top: 15rem;*/
  text-align: center;
  padding-right: 2em;
  /*border-right: 1px solid #000000;*/
  /*background-color: #eaeaea;*/

  /*http://www.w3schools.com/cssref/pr_class_position.asp*/
}

.navigation-bottom-account {
  /*padding-right: 2em;*/

}
.navigation-bottom-cart {
  /*padding-right: 2em;*/
}

.main {
  /*height:1080px;*/
  text-align: center;
  /*background-color: #eeeeee;*/
}

/*.products {
  padding-bottom: 5em;
}*/

.lastrow {
  padding-bottom: 10em;
}

.cartend {
  padding-bottom: 20em;
}