 This is some default styling for the exercise */
*, *::after, *::before {
  box-sizing: border-box;
}

[class^='grid-col-'] {
	float:left;
  padding: 0;
}

/*.grid {
  text-align: center;
}*/

.grid:after {
  content: "";
  display: block;
  clear: both;
}

/*used code from summer '16 cirriculum because i could not find it in our semester https://iat339.andrewh.ca/2016/summer/*/


.grid-col-1of5 {
	width: 20%;
}

.grid-col-1of4 {
    width: 25%;

}

.grid-col-1of3 {
  width: 33%;
}

.grid-col-1of6 {
  width: 16%;
}

.grid-col-1of2 {
  width: 50%;
}

.grid-col-3of4 {
  width:75%;
  /*padding-left:10rem;*/
}

.grid-col-1of8 {
  width:12.5%;
}

.grid-col-2of3 {
  width:66%;
}

@media (min-width: 40em) {
  .navigation {
    position: fixed;
  }
}

@media (max-width: 40em) {

  /*http://pxtoem.com/*/

  .grid-col-1of4, .grid-col-1of3, .grid-col-1of2, .grid-col-3of4,.grid-col-1of8, .grid-col-1of5, .grid-col-1of6 {
    width: 100%;
  }

  .main {
    margin-top: 10em;
    margin-left: 0%;
  }

  .navigation{
    /*display:flex;*/
  }
}

.box {
  height: 120px;
}

.main-nav {
  height:50px;
}


.screen {
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

.box:nth-of-type(odd) {
  border: 2px solid #e6e6e6;
}

.box:nth-of-type(even) {
  border: 2px solid #00caf5;
}

.colors-black {
  background-color: black;
  border: 2px solid #000000;
  height: 120px;
  color: white;
}

.colors-white {
  background-color: white;
  border: 2px solid #000000;
  height: 120px;
  color: black;
}

.colors-blue {
  background-color: #00caf5;
  border: 2px solid #00caf5;
  height: 120px;
  color: white;
}

.colors-yellow {
  background-color: #FFEF49;
  border: 2px solid #FFEF49;
  height: 120px;
  color: black;
}



.navigation {
  /*display: inline-block;*/
  /*position:fixed;*/

  /*top: 15rem;*/
  text-align: center;
  padding-right: 2em;
  /*background-color: #eaeaea;*/

  /*http://www.w3schools.com/cssref/pr_class_position.asp*/
}

.main {
  /*height:1080px;*/
  text-align: center;
  margin-left: 30%;

}